.travel__title {
  padding: 0;
  margin: 0;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
}

/* @media screen and (max-width: 767px) {
  .travel-form__title {
    max-width: 100%;
  }
} */
