.people__cards {
  /* в файле разные отступы слева и справа. посмтрим по блоку section, может черзе него зададим
  стили поэтому пока ширину делкем на 100% блока по section */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px 62px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 125px;
}

@media screen and (max-width: 767px) {
  .people__cards {
    margin-top: 60px;
  }
}
