.form__input-container {
  resize: none;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  padding: 0 15px;
  width: 100%;
  box-sizing: border-box;
}

.form__input-container:focus {
  outline-color: var(--color__background_footer);
}

@media screen and (max-width: 767px) {
  .form__input-container {
    font-size: 12px;
  }
}
