.video__heading {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.05;
    margin: 0;
    position: absolute;
    top: 21%;
    left: 5%;
    color: var(--color__background);
}

/* @media screen and (max-width: 767px) {
  .video__heading {
    font-size: 25px;
    top: 25px;
    left: 25px;
  } */
}
