.footer {
  width: 100%;
  min-height: 667px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--color__background_footer);
}

@media screen and (max-width: 1023px) {
  .footer {
    min-height: 350px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    min-height: 100px;
  }
}
