.quote__author {
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  font-style: normal;
}

/*  Roboto Condensed здесь встает неплохо, есть небольшие различия, но я бы оставли так.*/
