.form {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-top: 131px;
  margin-left: 10%;
}
/* на брекпоинте 787 нужно сделать центрирование */

@media screen and (max-width: 1239px) {
  .form {
    margin: auto;
    width: 80%;
  }
}
