.form {
  width: 382px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* margin-top: 150px; */
  margin-left: 73px;
  /* margin-bottom: 132px; */
}
