.footer__copyright {
  font-size: 36px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
  margin-top: -10px;
  margin-left: -14px;
}

@media screen and (max-width: 1023px) {
  .footer__copyright {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 16px;
  }
}
