.intro__image {
  margin: 0 auto;
  width: 382px;
  height: 382px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-left: 22%;
}

@media screen and (max-width: 1023px) {
  .intro__image {
    width: 294px;
    height: 294px;
  }
}

@media screen and (max-width: 767px) {
  .intro__image {
    width: 100%;
    min-height: 218px;
    margin: 0;
  }
}
