.header__nav-link:not(:last-of-type) {
  margin-right: 38px;
}

.header__nav-link:last-of-type {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header__nav-link {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__nav-link:not(:last-of-type) {
    margin-right: 0;
  }

  .header__nav-link:last-of-type {
    margin-left: 0;
  }
}
