.travel__form {
  width: 380px;
  margin-top: 21%;
  margin-left: 11%;
  margin-bottom: 19%;
}

@media screen and (max-width: 1023px) {
  .travel__form {
    margin: 7%;
  }
}

@media screen and (max-width: 767px) {
  .travel__form {
    order: 2;
    width: calc(100% - 2 * 10px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
