.form__button {
  font-size: 14px;
  font-weight: 400;
  width: 216px;
  height: 35px;
  background-color: var(--color__background_button);
  color: var(--color__background);
  align-self: flex-end;
  margin-top: 20px;
}
