.people {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 144px;
  margin-bottom: 107px;
}

@media screen and (max-width: 1023px) {
  .people {
    margin: 60px auto;
  }
}

@media screen and (max-width: 767px) {
  .people {
    margin: 10px auto;
  }
}
